.card-group
  .card.bg-light
    %img.card-img-top{:alt => "...", :src => "..."}/
    .card-body
      %h5.card-title Airport
      %p.card-text This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
      %p.card-text
        %small.text-muted Last updated 3 mins ago
  .card.bg-light
    %img.card-img-top{:alt => "...", :src => "..."}/
    .card-body
      %h5.card-title Hospital
      %p.card-text This card has supporting text below as a natural lead-in to additional content.
      %p.card-text
        %small.text-muted Last updated 3 mins ago
  .card.bg-light
    %img.card-img-top{:alt => "...", :src => "..."}/
    .card-body
      %h5.card-title Retail Park
      %p.card-text This is a wider card with supporting text below as a natural lead-in to additional content.
      %p.card-text
        %small.text-muted Last updated 3 mins ago
  .card.bg-light
    %img.card-img-top{:alt => "...", :src => "..."}/
    .card-body
      %h5.card-title Park And Ride
      %p.card-text This is a wider card with supporting text below as a natural lead-in to additional content.
      %p.card-text
        %small.text-muted Last updated 3 mins ago
