.card.text-center.bg-light
  .card-header
    %ul.nav.nav-tabs.card-header-tabs
      %li.nav-item
        =link_to 'Home', '/'
      %li.nav-item
        =link_to 'Contact', '/contact'

      %li.nav-item
        =link_to 'About us', '/about'

      %li.nav-item
        =link_to 'Reservations', '/reservations'
      %li.nav-item
        =link_to 'Carparks', '/carparks'

      - if user_signed_in?


        %li.nav-item
          =link_to t('profile'), edit_user_registration_path
        %li.nav-item
          =link_to t('logout'), destroy_user_session_path, method: 'delete'
        %li.nav-item
          ="#{current_user.email}"
      - else

        %li.nav-item
          =link_to t('login'), new_user_session_path
        %li.nav-item
          =link_to t('sign_up'), new_user_registration_path
%br
