.card.text-center.bg-light
  .card-header
    %ul.nav.nav-tabs.card-header-tabs
      %li.nav-item
        =link_to 'Home', '/'
      %li.nav-item
        =link_to 'Contact', 'contact'
  
      %li.nav-item
        =link_to 'About us', 'about'
%br
