.container.container-fluid
  .card.text-center

    .card-body.price_l
      %h2.card-text= t('.price_list')
      %br
      %p.card-text1  1 hr  ........................... £1.20
      %p.card-text 1-2 hr  ........................... £2.00
      %p.card-text 2-4 hr  ........................... £3.60
      %p.card-text all day ........................... £5.70
