.card.text-center
  .card-header
    Price list
  .card-body
    %p.card-text  1  hr  ........................... £1.20
    %p.card-text 1-2 hr  ........................... £2.00
    %p.card-text 2-4 hr  ........................... £3.60
    %p.card-text all day ........................... £5.70
  .card-footer.text-muted
    something here
