%h1= t('.title')
%p= t('.about_us')


%ul.list-group.list-group-horizontal
  %li.list-group-item An item
  %li.list-group-item A second item
  %li.list-group-item A third item
  %li.list-group-item.list-group-item-info An item
  %li.list-group-item A second item
  %li.list-group-item A third item
%ul.list-group.list-group-horizontal
  %li.list-group-item.list-group-item-danger An item
  %li.list-group-item A second item
  %li.list-group-item A third item
  %li.list-group-item An item
  %li.list-group-item A second item
  %li.list-group-item A third item
%ul.list-group.list-group-horizontal
  %li.list-group-item An item
  %li.list-group-item A second item
  %li.list-group-item A third item
  %li.list-group-item An item
  %li.list-group-item A second item
  %li.list-group-item A third item
