.container.container-fluid

%body
  %h1.about_h1= t('.title')
  %article
    %h2.about_h2 Lorem ipsum dolor sit amet, consectetur adipiscing elit.

    %p.about_p Morbi eu est quis nisl sodales efficitur. Nulla ut congue quam. Maecenas et malesuada turpis. Fusce fermentum massa sapien, sit amet fermentum ipsum venenatis id. Fusce dignissim est non odio lobortis aliquam. Nullam ac porta mi. Aliquam scelerisque fringilla faucibus. Sed placerat sem auctor sapien ornare, vel congue ex pretium. Maecenas dui nisi, bibendum eget urna quis, vestibulum scelerisque sem. Sed euismod interdum justo sed eleifend.
    %p.about_p Cras pharetra, turpis ac accumsan imperdiet, nisl urna ultrices mauris, eget dignissim leo erat sed nunc. In vehicula nunc in bibendum malesuada.
    %p.about_p Donec tempus libero ipsum, vitae condimentum ipsum tempor sit amet. Cras ornare ornare diam eu lacinia. Sed maximus libero sed quam varius, in tempor justo sollicitudin. Morbi elit est, vulputate a vulputate eu, convallis id tortor. Mauris sodales ante nec nisl viverra, a hendrerit erat posuere. Maecenas eleifend pretium pretium. Curabitur quis ullamcorper odio. Maecenas viverra tellus enim. Nulla at malesuada lacus.
    %br
    %p.about_i
      %i.fas.fa-signature.fa-5x
