%h1 Listing reservations

%table.table.table-hover
  %thead.table-dark
    %tr
      %th Location
      %th Bay type
      %th Vehicle registration
      %th Start
      %th Duration
      %th
      %th
      %th

  %tbody
    = render @reservations
%br
#new_reservation
  = link_to 'New Reservation', new_reservation_path, remote: true, class: "btn btn-light active"
