
.card.text-center
  .card-header
    Price list
  .card-body
    %p.card-text  1  hr  ........................... £1.20
    %p.card-text 1-2 hr  ........................... £2.00
    %p.card-text 2-4 hr  ........................... £3.60
    %p.card-text all day ........................... £5.70
  .card-footer.text-muted
    something here


%h1 Listing reservations
%table.table.table-hover
  %thead.table-dark
    %tr
      %th Location
      %th Bay type
      %th Vehicle registration
      %th Start
      %th Duration
      %th
      %th
      %th

  %tbody
    = render @reservations
%br



%div.row
  %div.col-sm-6
    #new_reservation
      = link_to 'New Reservation', new_reservation_path, remote: true, class: "btn btn-light active"


  %div.col-sm-6
    .card{:style => "width: 18rem;"}
      %img.card-img-top{:alt => "...", :src => "https://www.paypalobjects.com/webstatic/mktg/Logo/pp-logo-150px.png"}/
      .card-body
        %h5.card-title Total ammount
        <!-- calculates and displays the total amout a user has to pay for parking sessions -->
        %p= number_to_currency(@reservations.sum( :price ), :unit =>"£")
        %a.btn.btn-primary{:href => "https://www.paypal.com/uk/webapps/mpp/paypal-popup", :target=>"blank"} Pay now
