%head


%body
  %div
    =render('shared/price_list')

  .container.container-fluid
    %h1
      %svg.bi.bi-list{:fill => "currentColor", :height => "22", :viewbox => "0 0 16 16", :width => "22", :xmlns => "http://www.w3.org/2000/svg"}
        %path{:d => "M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z", "fill-rule" => "evenodd"}
      Listing reservations
    %table.table.table-hover
      %thead
        %tr
          %th Location
          %th Bay type
          %th Vehicle registration
          %th Start
          %th Duration
          %th

      %tbody
        = render @reservations
  %br


  .container.container-fluid
    %div.row.duck_egg
      %div.col-sm-6
        #new_reservation
          = link_to 'New Reservation', new_reservation_path, remote: true, class: "btn btn-light active"


      %div.col-sm-6
        .card.duck_egg.border-0{:style => "width: 11rem; margin-left:auto; margin-right: 5rem"}
          %i.fab.fa-cc-paypal.fa-5x{:style => "margin-left: 1.5rem;"}
          .card-body.duck_egg
            %h5.card-title Total ammount
            <!-- calculates and displays the total amout a user has to pay for parking sessions -->
            %p.text-primary= number_to_currency(@reservations.sum( :price ), :unit =>"£")
            %a.btn.btn-dark.text-warning{:href => "https://www.paypal.com/uk/webapps/mpp/paypal-popup", :target=>"_blank", :style => "margin-left: 1rem;"} Pay now
  %br
  %br
  %br

  %div
    = render('shared/carpark_availability')

  %br
  %br
  %br
  %br
