/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

 @import "font-awesome-sprockets";
 @import "font-awesome";

 $font: 'Times New Roman', 'Times', serif;
 $color: #FFFFFF;
 body {

   // margin: 0;
   // padding: 0;
   // height: 100%;
  background-color: #F0EFEB;
  font-family: $font;
 }

 td, th {
  padding: 5px;
 }
li:hover{
  color: #3B7080;

}
.text-custom{
  color: #FFDDD2;
}
// reservation

.card-header{
  background-color: #184E77;
}
.card-body.price_l{
  background-color: #FFFFFC;
}
.card-footer{
  background-color: #DFE7FD;
}

.duck_egg{
  background-color:  #FFFFFC;
}
.gap{
  grid-column-gap: 16px;
}

div.park_top{
  background-color: white;
}
.white-bg{
  background-color: #FFFFFC;
}
.card{
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
